@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP|Sen|Vollkorn+SC&display=swap);
html {
  font-size: 62.5%; }

.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 295px;
  padding: 0 15px; }
  .mobile-menu-icon > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: transform 0.4s; }
    .mobile-menu-icon > span:last-child {
      margin-bottom: 0; }

.toggle_btn {
  display: none; }
  .toggle_btn .toggle_btn_ul {
    list-style: none;
    color: white;
    font-family: sen;
    letter-spacing: 1.0px;
    background-color: black;
    opacity: 0.3;
    font-size: 17px;
    padding: 20px 15px 0 15px;
    margin-bottom: 0; }
    .toggle_btn .toggle_btn_ul > li :hover {
      opacity: 0.5;
      color: pink; }
    .toggle_btn .toggle_btn_ul > li:nth-child(4) {
      padding-bottom: 5px;
      margin-bottom: 0; }

.menu-open .mobile-menu-icon > span {
  background-color: black; }
  .menu-open .mobile-menu-icon > span:nth-child(1) {
    transform: translateY(11px) rotate(135deg); }
  .menu-open .mobile-menu-icon > span:nth-child(2) {
    transform: translateX(-18px) scaleX(0); }
  .menu-open .mobile-menu-icon > span:nth-child(3) {
    transform: translateY(-11px) rotate(-135deg); }

body {
  margin: 0; }

header {
  background-color: #ffffff;
  height: 75px;
  width: 100%; }
  header .header_navi {
    padding-top: 5px;
    margin-right: 45px; }
  header .header_navi_ul {
    width: 100%;
    justify-content: flex-start;
    list-style: none;
    display: flex; }
  header .header_btn {
    display: none;
    opacity: 0.5;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 5px 14px;
    margin: 2.5px;
    text-align: center; }
  header .twitter, header .instagram, header .github {
    padding: 5px 3px;
    margin-left: 2px;
    text-align: center;
    background-color: #ffffff;
    font-size: 25px; }
  header a {
    font-family: sen; }
  header .header_navi_ul a {
    text-decoration: none;
    color: #112d16; }
  header .twitter a {
    color: #429eed;
    margin-left: 10px; }
  header .instagram a {
    color: #b177aa; }
  header .github a {
    color: black; }
  header a:hover {
    color: gray; }

.namepage {
  background-color: #ffffff;
  height: 630px;
  padding-top: 200px;
  padding-bottom: 50px;
  margin: 0; }
  .namepage h1 {
    text-align: center;
    font-family: sen;
    margin: 0;
    letter-spacing: 1.5px;
    font-size: 32px; }
  .namepage p {
    text-align: center;
    font-size: 27px;
    color: black;
    opacity: 0.3;
    font-family: sen;
    letter-spacing: 1.5px; }

.works_name, .skills_name, .about_name, .contact_name {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1.5px;
  font-family: sen;
  margin-bottom: 50px; }

#works {
  background-color: #fcfffb;
  width: 90%;
  height: auto;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  #works a {
    text-decoration: none; }
  #works img {
    max-width: 100%;
    display: block;
    vertical-align: bottom;
    object-fit: cover; }
  #works .works_box {
    width: 29%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
    position: relative; }
  #works .works_innner {
    width: 100%;
    height: 100%; }
  #works .works_text {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 36px;
    background-color: rgba(192, 192, 192, 0.7); }
    #works .works_text h2 {
      font-size: 15px;
      color: white;
      letter-spacing: 1px;
      opacity: 1.0;
      font-family: sen; }
    #works .works_text p {
      font-size: 12px;
      color: white;
      opacity: 1.0;
      font-family: 'Noto Sans JP' 'sen'; }
  #works a:hover {
    width: 100%; }
    #works a:hover .works_text {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 1; }

.skills {
  background-color: #fcfffb;
  height: auto;
  display: block;
  width: 90%;
  margin: 0 auto; }
  .skills .coding, .skills .edit, .skills .frame {
    margin: 0 auto;
    width: 100%; }
  .skills h3, .skills p {
    text-align: center;
    font-family: Noto Sans JP; }
  .skills h3 {
    font-size: 22px; }
  .skills h4 {
    text-align: center; }
  .skills .fa {
    font-size: 50px;
    text-align: center; }
  .skills p {
    font-size: 15px;
    width: 95%; }

.about {
  background-color: yellow;
  height: auto;
  width: 100%;
  margin: 0 auto;
  background-color: #fcfffb; }
  .about .description {
    margin: 0 auto;
    width: 80%; }
  .about p {
    font-family: Noto Sans JP;
    font-size: 15px;
    letter-spacing: 0.5px; }

.contact_btn {
  margin-bottom: 10px; }

.contact {
  margin: 0 auto;
  width: 100%;
  background-color: #fcfffb;
  height: auto; }
  .contact p, .contact h4 {
    text-align: center;
    margin-bottom: 0; }

table {
  margin: auto; }
  table td {
    border: none; }
  table a {
    border-radius: 4px;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    width: 150px; }
  table span {
    color: black;
    font-weight: bold;
    line-height: 50px; }
  table .button {
    background: white;
    border-radius: 4px;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 100%;
    transition: all 0.6s ease;
    box-shadow: 5px 5px black; }
  table .text {
    transition: all 0.6s ease; }
  table a:hover {
    cursor: pointer; }
  table a:hover .button {
    opacity: 0.7; }
  table a:hover #btnbtn {
    transform: translate(5px, 5px);
    box-shadow: none; }

.top {
  width: 100%;
  margin: 0 auto;
  margin-top: 25px; }
  .top h3, .top h4 {
    text-align: center; }
  .top h3 {
    font-size: 14px;
    margin-bottom: 0;
    font-family: Noto Sans JP; }
  .top h4 {
    line-height: 1px; }
  .top .fa {
    font-size: 20px; }
  .top a {
    text-decoration: none;
    color: black; }
    .top a :hover {
      opacity: 0.5; }

footer {
  background-color: #fff;
  height: 50px;
  margin-top: 25px; }
  footer .footer_navi {
    padding-top: 5px;
    margin-right: 45px; }
  footer .footer_navi_ul {
    width: 90%;
    justify-content: flex-start;
    list-style: none;
    display: flex;
    margin-left: 30px; }
  footer .footer_btn {
    opacity: 0.5;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 5px 14px;
    margin: 2.5px;
    display: none;
    text-align: center; }
  footer .twitter, footer .instagram, footer .github {
    padding: 5px 3px;
    margin-left: 2px;
    text-align: center;
    justify-content: flex-start;
    font-size: 25px; }
  footer a {
    font-family: sen; }
  footer .footer_navi_ul a {
    text-decoration: none;
    color: #112d16; }
  footer .twitter a {
    color: #429eed; }
  footer .instagram a {
    color: #b177aa; }
  footer .github a {
    color: black; }
  footer a:hover {
    color: gray; }
  footer .copy {
    margin-top: 25px;
    opacity: 0.3;
    font-size: 10px;
    font-family: sen;
    text-align: right;
    width: 65%; }

@media (min-width: 550px) {
  header {
    background-color: #ffffff;
    height: 75px;
    width: 100%; }
    header .mobile-menu-icon {
      visibility: hidden; }
    header .header_navi {
      padding-top: 5px;
      margin-right: 45px; }
    header .header_navi_ul {
      width: 100%;
      justify-content: flex-end;
      list-style: none;
      display: flex; }
    header .header_btn {
      opacity: 0.5;
      font-size: 10px;
      letter-spacing: 1px;
      padding: 5px 14px;
      margin: 2.5px;
      text-align: center;
      display: inline-block; }
    header .twitter, header .instagram, header .github {
      padding: 5px 3px;
      margin-left: 2px;
      text-align: center;
      background-color: #ffffff;
      font-size: 15px; }
    header a {
      font-family: sen; }
    header .header_navi_ul a {
      text-decoration: none;
      color: #112d16; }
    header .twitter a {
      color: #429eed; }
    header .instagram a {
      color: #b177aa; }
    header .github a {
      color: black; }
    header a:hover {
      color: gray; }

  .namepage {
    background-color: #ffffff;
    height: 630px;
    padding-top: 200px;
    padding-bottom: 50px;
    margin: 0; }
    .namepage h1 {
      text-align: center;
      font-family: sen;
      margin: 0;
      letter-spacing: 1.5px;
      font-size: 32px; }
    .namepage p {
      text-align: center;
      font-size: 27px;
      color: black;
      opacity: 0.3;
      font-family: sen;
      letter-spacing: 1.5px; }

  .works_name, .skills_name, .about_name, .contact_name {
    text-align: center;
    font-size: 32px;
    letter-spacing: 1.5px;
    font-family: sen;
    margin-bottom: 50px; }

  .works {
    background-color: #fcfffb;
    width: 90%;
    height: 800px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 50px; }
    .works .works_p {
      height: 170px;
      width: 30%;
      background-color: black;
      margin: 0 auto;
      border: 1px solid white; }

  .skills {
    background-color: #fcfffb;
    height: 370px;
    display: flex;
    width: 90%;
    margin: 0 auto; }
    .skills .coding, .skills .edit, .skills .frame {
      margin: 0 auto;
      width: 100%; }
    .skills h3, .skills p {
      text-align: center;
      font-family: Noto Sans JP; }
    .skills h3 {
      font-size: 22px; }
    .skills h4 {
      text-align: center; }
    .skills .fa {
      font-size: 50px;
      text-align: center; }
    .skills p {
      font-size: 15px;
      width: 95%; }

  .about {
    background-color: yellow;
    height: 420px;
    width: 100%;
    margin: 0 auto;
    background-color: #fcfffb; }
    .about .description {
      margin: 0 auto;
      width: 90%; }
    .about p {
      font-family: Noto Sans JP;
      font-size: 17px;
      letter-spacing: 0.5px; }

  .contact_btn {
    margin-bottom: 0; }

  .contact {
    margin: 0 auto;
    width: 100%;
    background-color: #fcfffb;
    height: 100px; }
    .contact p, .contact h4 {
      text-align: center;
      margin-bottom: 0; }

  table {
    margin: auto; }
    table td {
      border: none; }
    table a {
      border-radius: 4px;
      display: inline-block;
      height: 50px;
      text-decoration: none;
      width: 150px; }
    table span {
      color: black;
      font-weight: bold;
      line-height: 50px; }
    table .button {
      background: white;
      border-radius: 4px;
      height: 50px;
      margin: auto;
      text-align: center;
      width: 100%;
      transition: all 0.6s ease;
      box-shadow: 5px 5px black; }
    table .text {
      transition: all 0.6s ease; }
    table a:hover {
      cursor: pointer; }
    table a:hover .button {
      opacity: 0.7; }
    table a:hover #btnbtn {
      transform: translate(5px, 5px);
      box-shadow: none; }

  .top {
    width: 100%;
    margin: 0 auto;
    margin-top: 0; }
    .top h3, .top h4 {
      text-align: center; }
    .top h3 {
      font-size: 14px;
      margin-bottom: 0;
      font-family: Noto Sans JP; }
    .top h4 {
      line-height: 1px; }
    .top .fa {
      font-size: 20px; }
    .top a {
      text-decoration: none;
      color: black; }
      .top a :hover {
        opacity: 0.5; }

  footer {
    background-color: #fff;
    height: 50px;
    margin-top: 20px; }
    footer .footer_navi {
      padding-top: 5px;
      margin-right: 45px; }
    footer .footer_navi_ul {
      width: 100%;
      justify-content: flex-start;
      list-style: none;
      display: flex;
      margin-left: 30px; }
    footer .footer_btn {
      opacity: 0.5;
      font-size: 10px;
      letter-spacing: 1px;
      padding: 5px 14px;
      margin: 2.5px;
      text-align: center;
      display: inline-block; }
    footer .twitter, footer .instagram, footer .github {
      padding: 5px 3px;
      margin-left: 2px;
      text-align: center;
      font-size: 15px; }
    footer a {
      font-family: sen; }
    footer .footer_navi_ul a {
      text-decoration: none;
      color: #112d16; }
    footer .twitter a {
      color: #429eed; }
    footer .instagram a {
      color: #b177aa; }
    footer .github a {
      color: black; }
    footer a:hover {
      color: gray; }
    footer .copy {
      margin-top: 5px;
      opacity: 0.3;
      font-size: 10px;
      font-family: sen;
      text-align: right;
      width: 70%; } }

/*# sourceMappingURL=style.css.map */
